.pitureBlock {
    float: left;
    text-align: left;
    display: inline-block;
    margin: 30px auto;
}
.descriptionBlock {
    float: left;
    text-align: left;
    display: inline-block;
    margin: 30px auto;
}
.pitureBlock img {
    width: 100%;
    max-width: 350px;
}
.descriptionBlock p {
    margin: 10px;
    text-align: left;
    line-height: 1.8;
    font-size: 1.1rem;
    color: #454545;
}
.descriptionBlock .precio {
    width: 100%;
    float: left;
    text-align: right;
    background-color: #000000;
    padding: 8px 15px;
    color: #ffffff;
    font-size: 2rem;
}