body {
  margin: 0;
  padding: 0;
  color: #3C3C3C;
  font-family: 'Trebuchet MS',sans-serif;
  font-size: 1rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
div#root {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}
button.CartCTA {
  margin: 20px auto;
  display: inline-block;
  text-align: center;
  border: 1px solid #000;
  background-color: transparent;
  border-radius: 15px;
  padding: 8px 20px;
}
button.CartCTA:hover{
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.my-transition {
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease; 
}